<div class="container mt-4">
    <h2 class="text-center mb-4">Variedades de Café</h2>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Región</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cafe of cafes">
          <td>{{ cafe.nombre }}</td>
          <td>{{ cafe.tipo }}</td>
          <td>{{ cafe.region }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  